# Ansible Inventory for Raspberry Pi fleet
# Update IP addresses after hardware setup (hw-003, hw-004, hw-005)

all:
  vars:
    ansible_user: pi
    ansible_ssh_private_key_file: ~/.ssh/id_ed25519
    ansible_python_interpreter: /usr/bin/python3

  children:
    # K3s worker nodes (Pi 4 and Pi 5)
    k3s_workers:
      hosts:
        pi5-worker:
          ansible_host: 192.168.1.20  # TODO: Update after setup
          k3s_node_labels:
            - "node.kubernetes.io/instance-type=pi5"
            - "kubernetes.io/arch=arm64"
        pi4-worker-1:
          ansible_host: 192.168.1.21  # TODO: Update after setup
          k3s_node_labels:
            - "node.kubernetes.io/instance-type=pi4"
            - "kubernetes.io/arch=arm64"
        pi4-worker-2:
          ansible_host: 192.168.1.22  # TODO: Update after setup
          k3s_node_labels:
            - "node.kubernetes.io/instance-type=pi4"
            - "kubernetes.io/arch=arm64"

    # Support service nodes (older Pis, not in K3s cluster)
    support_services:
      hosts:
        pihole-dns:
          ansible_host: 192.168.1.30  # TODO: Update after setup
        monitoring-agent:
          ansible_host: 192.168.1.31  # TODO: Update after setup

    # Parent group for all Pis
    raspberry_pis:
      children:
        k3s_workers:
        support_services:
