# Ansible Inventory for Raspberry Pi fleet
# Update IP addresses and hostnames after hardware setup

all:
  vars:
    ansible_user: pi
    ansible_ssh_private_key_file: ~/.ssh/id_ed25519
    # K3s join configuration
    k3s_server_url: "https://control-plane:6443"
    k3s_token_file: /var/lib/rancher/k3s/server/node-token

  children:
    # K3s worker nodes (Pi 4 and Pi 5)
    k3s_workers:
      hosts:
        pi5-worker:
          ansible_host: 192.168.1.20  # TODO: Update after setup
          k3s_node_labels:
            - "node.kubernetes.io/instance-type=pi5"
        pi4-worker-1:
          ansible_host: 192.168.1.21  # TODO: Update after setup
          k3s_node_labels:
            - "node.kubernetes.io/instance-type=pi4"
        pi4-worker-2:
          ansible_host: 192.168.1.22  # TODO: Update after setup
          k3s_node_labels:
            - "node.kubernetes.io/instance-type=pi4"
      vars:
        k3s_role: agent

    # Support service nodes (older Pis)
    support_services:
      hosts:
        pihole-dns:
          ansible_host: 192.168.1.30  # TODO: Update after setup
          pihole_enabled: true
        monitoring-agent:
          ansible_host: 192.168.1.31  # TODO: Update after setup
          node_exporter_enabled: true
      vars:
        k3s_role: none  # These don't join the cluster

    # All Raspberry Pis
    raspberry_pis:
      children:
        k3s_workers:
        support_services:
