# ArgoCD deployment via upstream manifests + patches
# Bootstrap: kubectl apply -k kubernetes/infrastructure/argocd/

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - namespace.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/v2.13.3/manifests/install.yaml

patches:
  # Run argocd-server without TLS (terminate at ingress)
  - target:
      kind: ConfigMap
      name: argocd-cmd-params-cm
    patch: |
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: argocd-cmd-params-cm
      data:
        server.insecure: "true"
  # Expose argocd-server via MetalLB LoadBalancer
  - target:
      kind: Service
      name: argocd-server
    patch: |
      apiVersion: v1
      kind: Service
      metadata:
        name: argocd-server
      spec:
        type: LoadBalancer
